# Compiled source #
###################
*.com
*.class
*.exe
*.dll
*.sh

# Packages #
############
*.7z
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.dmg

# Logs and databases #
######################
*.Logs
*.sql
*.sqlite

# Ficheros generados #
######################
commits.txt
.vscode/*
scss/*